<header class="header">
    <h1 class="titulo_cabecera">RetroBlog</h1>
    <p class="parrafo_titulo">Un blog para amantes del retro</p>
    <nav class="navegacion">
        <a href="/" class="navegacion_a">Videojuegos</a> |
        <a href="/" class="navegacion_a">Ordenadores</a>
        <a href="/" class="navegacion_a">Consolas</a>
    </nav>
</header>

