.cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f8ff; /* Color suave para el fondo */
    border-radius: 8px;
    padding: 20px;
    max-width: 90%;
    margin: 20px auto; /* Centramos con margen automático */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras ligeras para profundidad */
    height: 70vh;
  }
  
  /* Texto de la CTA */
  .cta div {
    max-width: 50%;
  }
  
  .cta p {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
  }
  
  /* Imagen en la CTA */
  .cta_img {
    max-width: 40%; /* Ajusta la imagen a la columna de la derecha */
    display: flex;
    justify-content: center;
  }
  
  .cta_img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }